<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--
    As you add to this URDF, please be aware that both the robot and
    simulation include it. You must retain compatibility with all of
    the following launch files:

    heron_viz/launch/view_model.launch
    heron_gazebo/launch/heron_world.launch
    heron_base/launch/base.launch
  -->

  <xacro:macro name="rear_plate" params="type">
    <link name="rear_plate">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://heron_description/meshes/${type}-rear-plate.stl"/>
        </geometry>
        <material name="dark_gray" />
      </visual>
    </link>
    <joint name="rear_plate_joint" type="fixed">
      <parent link="base_link" />
      <child link="rear_plate" />
      <origin xyz="-0.1915 0.0 0.001" />
    </joint>
  </xacro:macro>

  <!-- If enabled, generate a Novatel Smart6 payload. -->
  <xacro:include filename="accessories/novatel_smart6.urdf.xacro" />
  <xacro:if value="$(optenv HERON_NAVSAT_SMART6 0)">
    <novatel_smart6 prefix="$(optenv HERON_NAVSAT_SMART6_MOUNT rear)"/>

    <joint name="$(optenv HERON_NAVSAT_SMART6_MOUNT rear)_navsat_joint" type="fixed">
    <origin xyz="$(optenv HERON_NAVSAT_SMART6_OFFSET -0.25 0 0.08)"
            rpy="$(optenv HERON_NAVSAT_SMART6_RPY 0 0 0)" />
      <parent link="base_link" />
      <child link="$(optenv HERON_NAVSAT_SMART6_MOUNT rear)_navsat" />
    </joint>
  </xacro:if>

  <!-- If enabled, generate the LASER payload. -->
  <xacro:include filename="accessories/sick_lms1xx_mount.urdf.xacro" />
  <xacro:if value="$(optenv HERON_LASER 0)">
    <sick_lms1xx_mount prefix="$(optenv HERON_LASER_MOUNT front)"
                       topic="$(optenv HERON_LASER_TOPIC front/scan)"/>

    <rear_plate type="lidar" />

    <joint name="$(optenv HERON_LASER_MOUNT front)_laser_mount_joint" type="fixed">
      <origin xyz="$(optenv HERON_LASER_OFFSET 0.0575 0 0.0115)"
              rpy="$(optenv HERON_LASER_RPY 0 0 0)" />
      <parent link="rear_plate" />
      <child link="$(optenv HERON_LASER_MOUNT front)_laser_mount" />
    </joint>
  </xacro:if>

  <!-- If enabled, generate an Axis P5514 payload. -->
  <xacro:include filename="accessories/axis_ptz.urdf.xacro" />
  <xacro:if value="$(optenv HERON_AXIS_PTZ 0)">
    <axis_ptz prefix="$(optenv HERON_AXIS_PTZ_MOUNT axis_ptz)"/>

    <joint name="$(optenv HERON_AXIS_PTZ_MOUNT axis_ptz)_camera_joint" type="fixed">
    <origin xyz="$(optenv HERON_AXIS_PTZ_OFFSET -0.124 0 0.078)"
            rpy="$(optenv HERON_AXIS_PTZ_RPY 0 0 0)" />
      <parent link="rear_plate" />
      <child link="$(optenv HERON_AXIS_PTZ_MOUNT axis_ptz)_camera_link" />
    </joint>
  </xacro:if>

  <xacro:unless value="$(optenv HERON_LASER 0)">
    <rear_plate type="plain" />
  </xacro:unless>


</robot>
