<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- This file is a placeholder which is included by default from
       heron.urdf.xacro. If a robot is being customized and requires
       additional URDF, set the HERON_URDF_EXTRAS environment variable
       to the full path of the file you would like included. -->
</robot>
