<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- GPS -->
  <gazebo>
    <plugin name="gps_controller" filename="libhector_gazebo_ros_gps.so">
      <updateRate>40</updateRate>
      <robotNamespace>$(arg namespace)</robotNamespace>
      <frameId>$(arg namespace)/navsat_link</frameId>
      <bodyName>$(arg namespace)/navsat_link</bodyName>
      <topicName>/$(arg namespace)/navsat/fix</topicName>
      <velocityTopicName>/$(arg namespace)/navsat/velocity</velocityTopicName>
      <referenceLatitude>49.9</referenceLatitude>
      <referenceLongitude>8.9</referenceLongitude>
      <referenceHeading>90</referenceHeading>
      <referenceAltitude>0</referenceAltitude>
      <drift>0.0001 0.0001 0.0001</drift>
    </plugin>
  </gazebo>
  <link name="$(arg namespace)/navsat_link" />

  <joint name="navsat_joint" type="fixed">
    <parent link="$(arg namespace)/base_link" />
    <child link="$(arg namespace)/navsat_link" />
    <origin xyz="$(optenv HERON_NAVSAT_UBLOX_XYZ 0.015 0.050 0.072)"
              rpy="$(optenv HERON_NAVSAT_UBLOX_RPY 0.0 0.0 0.0)" />
  </joint>


  <!-- IMU -->
  <gazebo>
   <plugin name="imu_controller" filename="libhector_gazebo_ros_imu.so">
     <robotNamespace>$(arg namespace)</robotNamespace>
     <updateRate>50.0</updateRate>
     <bodyName>$(arg namespace)/imu_link</bodyName>
     <frameId>$(arg namespace)/imu_link</frameId>
     <topicName>/$(arg namespace)/imu/data_raw</topicName>
     <accelDrift>0.005 0.005 0.005</accelDrift>
     <accelGaussianNoise>0.005 0.005 0.005</accelGaussianNoise>
     <rateDrift>0.005 0.005 0.005 </rateDrift>
     <rateGaussianNoise>0.005 0.005 0.005 </rateGaussianNoise>
     <headingDrift>0.005</headingDrift>
     <headingGaussianNoise>0.005</headingGaussianNoise>
   </plugin>
 </gazebo>

 <link name="$(arg namespace)/imu_link" />
 <joint name="$(arg namespace)/imu_joint" type="fixed">
  <origin xyz="$(optenv HERON_IMU_UM6_XYZ -0.1397 0.0 0)" rpy="$(optenv HERON_IMU_UM6_RPY 0 0.0 0.0)" />
  <parent link="$(arg namespace)/base_link" />
  <child link="$(arg namespace)/imu_link" />
</joint>

 <!-- Magnetometer -->
 <gazebo>
   <plugin name="mag_controller" filename="libhector_gazebo_ros_magnetic.so">
     <updateRate>50</updateRate>
     <robotNamespace>$(arg namespace)</robotNamespace>
     <bodyName>$(arg namespace)/imu_link</bodyName>
     <frameId>$(arg namespace)/imu_link</frameId>
     <topicName>/$(arg namespace)/imu/mag</topicName>
     <referenceHeading>90</referenceHeading>
     <drift>0.0005 0.0005 0.0005</drift>
     <gaussianNoise>0.025 0.025 0.025</gaussianNoise>
   </plugin>
 </gazebo>

  <!-- Mount a Perfect Pose 3D sensor. -->
  <gazebo>
    <plugin filename="libgazebo_ros_p3d.so" name="groundtruth_sim">
      <updateRate>20.0</updateRate>
      <robotNamespace>$(arg namespace)</robotNamespace>
      <bodyName>$(arg namespace)/base_link</bodyName>
      <topicName>/$(arg namespace)/pose_gt</topicName>
      <gaussianNoise>0.0</gaussianNoise>
      <frameName>world</frameName>
    </plugin>
  </gazebo>

</robot>
