<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- GPS -->
  <gazebo>
    <plugin name="gps_controller" filename="libhector_gazebo_ros_gps.so">
      <updateRate>40</updateRate>
      <robotNamespace>/$(arg namespace)</robotNamespace>
      <frameId>$(arg suffix_ns)navsat_link</frameId>
      <bodyName>$(arg suffix_ns)navsat_link</bodyName>
      <topicName>/$(arg suffix_ns)navsat/fix</topicName>
      <velocityTopicName>/$(arg suffix_ns)navsat/velocity</velocityTopicName>
      <referenceLatitude>49.9</referenceLatitude>
      <referenceLongitude>8.9</referenceLongitude>
      <referenceHeading>90</referenceHeading>
      <referenceAltitude>0</referenceAltitude>
      <drift>0.0001 0.0001 0.0001</drift>
    </plugin>
  </gazebo>
  <link name="$(arg suffix_ns)navsat_link" />

  <joint name="navsat_joint" type="fixed">
    <parent link="$(arg suffix_ns)base_link" />
    <child link="$(arg suffix_ns)navsat_link" />
    <origin xyz="$(optenv HERON_NAVSAT_UBLOX_XYZ 0.015 0.050 0.072)"
      rpy="$(optenv HERON_NAVSAT_UBLOX_RPY 0.0 0.0 0.0)" />
    </joint>


    <!-- IMU -->
    <gazebo>
      <plugin name="imu_controller" filename="libhector_gazebo_ros_imu.so">
        <robotNamespace>/$(arg namespace)</robotNamespace>
        <updateRate>50.0</updateRate>
        <bodyName>$(arg suffix_ns)imu_link</bodyName>
        <frameId>$(arg suffix_ns)imu_link</frameId>
        <topicName>/$(arg suffix_ns)imu/data_raw</topicName>
        <accelDrift>0.005 0.005 0.005</accelDrift>
        <accelGaussianNoise>0.005 0.005 0.005</accelGaussianNoise>
        <rateDrift>0.005 0.005 0.005 </rateDrift>
        <rateGaussianNoise>0.005 0.005 0.005 </rateGaussianNoise>
        <headingDrift>0.005</headingDrift>
        <headingGaussianNoise>0.005</headingGaussianNoise>
      </plugin>
    </gazebo>

    <link name="$(arg suffix_ns)imu_link" />
    <joint name="$(arg suffix_ns)imu_joint" type="fixed">
      <origin xyz="$(optenv HERON_IMU_UM6_XYZ -0.1397 0.0 0)" rpy="$(optenv HERON_IMU_UM6_RPY 0 0.0 0.0)" />
      <parent link="$(arg suffix_ns)base_link" />
      <child link="$(arg suffix_ns)imu_link" />
    </joint>

    <!-- Magnetometer -->
    <gazebo>
      <plugin name="mag_controller" filename="libhector_gazebo_ros_magnetic.so">
        <updateRate>50</updateRate>
        <robotNamespace>/$(arg namespace)</robotNamespace>
        <bodyName>$(arg suffix_ns)imu_link</bodyName>
        <frameId>$(arg suffix_ns)imu_link</frameId>
        <topicName>/$(arg suffix_ns)imu/mag_raw</topicName>
        <referenceHeading>90</referenceHeading>
        <drift>0.0005 0.0005 0.0005</drift>
        <gaussianNoise>0.025 0.025 0.025</gaussianNoise>
        <useMagneticFieldMsgs>false</useMagneticFieldMsgs>
      </plugin>
    </gazebo>

    <!-- Mount a Perfect Pose 3D sensor. -->
    <gazebo>
      <plugin filename="libgazebo_ros_p3d.so" name="groundtruth_sim">
        <updateRate>20.0</updateRate>
        <robotNamespace>/$(arg namespace)</robotNamespace>
        <bodyName>$(arg suffix_ns)base_link</bodyName>
        <topicName>/$(arg suffix_ns)pose_gt</topicName>
        <gaussianNoise>0.0</gaussianNoise>
        <frameName>world</frameName>
      </plugin>
    </gazebo>

  </robot>
