<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="axis_ptz" params="prefix">
  <link name="${prefix}_camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://heron_description/meshes/axis_ptz.stl"/>
      </geometry>
      <material name="axis_ptz_white">
        <color rgba="0.8 0.8 0.8 1.0" />
      </material>
    </visual>
  </link>
  </xacro:macro>
</robot>
